@use "./variables.scss" as *;

/* Sustituir el título lateral por un logotipo */
.page-title a {
  display: block;
  width: 190px;
  height: 64px;

  background-image: url("https://cantimpl0ra.github.io/mis-notas/static/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
}

/* 1. Expandir el contenedor general para empujar las barras laterales a los bordes */
.page {
  max-width: 95vw !important; /* Usa 95% del ancho de tu pantalla. Pon 100vw si lo quieres pegado del todo */
}

/* 2. Expandir el contenedor central donde están tus notas y esquemas */
.center {
  max-width: 1200px !important; /* Por defecto ronda los 750px. Cámbialo al tamaño que más te guste */
}
